<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Recipe Box</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
   <link rel="stylesheet" href="./css/main.css" type="text/css" media="all"><!-- load custom css -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<style>
		body 		{ }
	</style>
	<script>
		
			$('.foodpic').live('click', function()
			{
				var foodid = $(this).attr('id');
				if($('#' + foodid + '.caption').is(':visible')) {
						$('#' + foodid + '.caption').slideUp();
				}
				else
				{
					$('#' + foodid + '.caption').slideDown();
				}
			});
	</script>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
			<% include nav.ejs %>
	</nav>
		<!-- HEADER -->
		<div class="jumbotron text-center">
			<h1>Recipe Box <span class="label label-info"></span></h1>
			save your favorite recipes online
		</div>

		<div id="scrape-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
					<%- errormessage %>
				<form action="/" method="post">
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Enter the URL of a recipe to get started!" name="url" id="url" >
					</div>

					<button type="submit" class="btn btn-primary btn-lg" >Add</button>
				</form>
			</div>
		</div>
<div class="container">
			<% include recipe.ejs %>

</div>
		


</body>
</html>
