<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>Recipe Box</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="css/bootstrap-cosmo.min.css"><!-- load boostrap theme -->
    <link rel="stylesheet" href="./css/main.css" type="text/css" media="all"><!-- load custom css -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <!--Boostrap File Input Plugin-->
    <link rel="stylesheet" href="css/fileinput.min.css" media="all"  type="text/css" />
    <script src="js/fileinput.min.js" type="text/javascript"></script>

	<style>
		body 		{ }
	</style>

</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
			<% include nav.ejs %>
	</nav>
		<!-- HEADER -->
		<div class="text-center">
			<div id="headline">Recipe Box </div>
			collect your favorite recipes online
		</div>

		<div id="scrape-form" class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<div id="msg"> <%- errormessage %> </div>
				<div class="recipe-tab-container">
						<div class="tab active" id=recipe-search-tab>
								Search
						</div>
						<div class="tab" id="recipe-scrape-tab">
								Enter URL
						</div>
				</div>
				<form action="/scrape" method="post" id="recipe-scrape">
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Enter the URL of a recipe to get started!" name="url" id="url" >
					</div>

					<button type="submit" id="addrecipe" class="btn btn-primary btn-lg" >Add</button>
				</form>
				<form id="recipe-search">
					<div class="form-group">
						<input type="text" class="form-control input-lg text-center" placeholder="Enter the name of a recipe to get started!" name="keyword" id="keyword" >
					</div>

					<button type="submit" id="addrecipe" class="btn btn-primary btn-lg" >Add</button>
				</form>
				</form>

			</div>
		</div>
<div id="loader"><img src="images/loader.gif" style="margin-top:10px"></div>
<div class="container" id="recipes">
		<% include recipe.ejs %>
</div>


<!-- Add A Recipe Modal -->
<div class="modal fade addrecipedialog" id="addrecipe" tabindex="-1" role="dialog" aria-labelledby="addrecipe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="addrecipe">Add A Recipe</h4>
      </div>
      <div class="modal-body">
		<form id="addrecipe" action="/addrecipe" method="post" enctype="multipart/form-data">
			<input type="text" class="form-control text-center" placeholder="Enter name of a recipe" name="name" id="recipe-name" >
			<input id="recipe-image" type="file" class="file">
			<div class="input-group">
				<input type="text" class="form-control text-center" placeholder="Enter an ingredient" id="ingredient-input">
				<span class="input-group-btn">
						<input type='button' class="btn btn-primary btn-default" value='Add Ingredient' id='ingredient-add'/>
				</span>
			</div>
			<ul id="ingredient-list"></ul>
			<div class="input-group">
				<input type="text" class="form-control text-center" placeholder="Enter a step for the directions" id="direction-input">
				<span class="input-group-btn">
						<input type='button' class="btn btn-primary btn-default" value='Add Step' id='direction-add'/>
				</span>
			</div>
			<ul id="direction-list"></ul>

      </div>
      <div class="modal-footer">
      	<input type="submit" class="btn btn-primary btn-default" id="add-recipe-form" value="Add A Recipe">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      		</form>

    </div>
  </div>
</div>

<!-- Recipe Details Modal -->
<div class="modal fade recipedetails" id="recipedetails" tabindex="-1" role="dialog" aria-labelledby="recipedetails" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="recipe-details-title"></h4>
      </div>
      <div class="modal-body" id="recipe-details-body">

      </div>
      <div class="modal-footer">
      	<button class="btn btn-primary modal-listadd" id="listadd" role="button">Add to List</button>
	 	<button class="btn btn-default modal-delete" id="delete" role="button">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Recipe Details Modal -->
<div class="modal fade recipesearch" id="recipesearch" tabindex="-1" role="dialog" aria-labelledby="recipesearch" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="recipe-search-title"></h4>
			</div>
			<div class="modal-body" id="recipe-search-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>



<!-- Grocery List Modal -->
<div class="modal fade" id="grocerylist" tabindex="-1" role="dialog" aria-labelledby="grocerylist" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="grocerylist">Grocery List</h4>
      </div>
      <div class="modal-body">
	 		<% if(user != "empty" && user.data.list.length > 0) {%>
	 			<ul>
	 				<% for(var i = 0;i<(user.data.list.length);i++) { %>
	 			 		<li class="glist"> <%= user.data.list[i].name %> 	<button id="listrm<%= i %>" class="btn btn-default">Remove from List</a></li>
	 				<% }%>
	 			</ul>
	 		<% }%>

      </div>
      <div class="modal-footer">
      	<a href="/listsend" class="btn btn-primary btn-default">Send Grocery List</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
<script>
var user= <%- JSON.stringify(user) %>;
$('#recipes').hide();
$('#recipe-scrape').hide();

		$(document).ready(function(){

		});

 		$(window).load(function() {
  					$('#loader').hide();
  					$('#recipes').show();
  					$("#flashmessage").fadeOut(2000);

						$('.thumbnail').each(function(index){
								var image = $(this).find('img');
								var image_height = image[0].clientHeight;
								if(image[0].clientHeight < 245){
									var margin = 255 - image_height
									image.css({'margin-bottom' : margin+'px'})
								}
					})

			});

		$("#recipe-scrape").submit(function(){
		  			$('#recipes').hide();
					$('#loader').show();
		});


			$('.foodpic').on('click', function()
			{
				var foodid = $(this).attr('id');
				var ingredients = user.data.recipes[foodid].ingredients;
				$('#recipe-details-title').text(user.data.recipes[foodid].name);
				var detailbody = "<p><ul><h4>Ingredients</h4>";
				detailbody += parseToHTML(ingredients);
				detailbody += "</ul><p><ul><h4>Directions</h4>";
				detailbody += parseToHTML(user.data.recipes[foodid].directions);
				$('#recipe-details-body').html(detailbody);
				$('.modal-listadd').attr("id","listadd" + foodid);
				$('.modal-delete').attr("id","delete" + foodid);
				$('#recipedetails').modal('show');
			});

		function parseToHTML(list)
		{
			var output = "";
			list = list.split("//");
			for(var i = 0;i<list.length;i++)
			{
				if(/\S/.test(list[i]))
				{
					output += "<li>" + list[i] + "</li>"
				}
			}
			return output;
		}

		$("[id*='delete']").on('click',function ()
		{
			var deleteindex = $(this).attr('id');
			 deleteindex = deleteindex.substr(6,6);
			$('#'+deleteindex).slideUp(1000);
			$.ajax({
 				 type: "POST",
 				 url: "/delete?item=" + deleteindex,
				success: function(data) {
						$('html, body').animate({ scrollTop: 0 }, 0);
 				 		$("#msg").html(data);
 				 		$("#flashmessage").fadeOut(1000,function(){
 				 			location.href = "/";
 				 		});
					},
				});
		});


			$("#recipe-image").fileinput(
									{//'showUpload':false,
									'captionTemplate':'<div class="form-control file-caption {class}"><span class="file-caption-name"></span></div>',
									'initialCaption':'TESTING123',
									'initialPreview':false,
									'previewClass':'recipe-image-preview',
									'captionClass':'recipe-image-caption',
									'mainClass':'recipe-image-input'});
			var ingredientlist = "";
			var directionlist = "";
			var recipeimage = "";

			var fileInput = document.getElementById('recipe-image');
			fileInput.addEventListener('change',function(e){
				var file = fileInput.files[0];
				var imageType = /image.*/;
				if(file.type.match(imageType))
				{
					var reader = new FileReader()
					reader.onload = function(e){
						recipeimage = new Image();
						recipeimage.src = reader.result;
						//$("#ingredient-list").append(recipeimage);
					}
					reader.readAsDataURL(file);

				}

			});

			$("#ingredient-add").click(function(){
				if(updateFormList("#ingredient"))
				{
					ingredientlist += $("#ingredient-input").val() + "//";
					$("#ingredient-input").val("");
				}
			});


			$("#direction-add").click(function(){
				if(updateFormList("#direction"))
				{
					directionlist += $("#direction-input").val() + "//";
					$("#direction-input").val("");
				}
			});

			/*$("#add-recipe-form").click(function(){
				var newrecipe = { name : "", image: "", ingredients : "", directions : ""};
				newrecipe.name = $("#recipe-name").val();
				//newrecipe.image = new Image();
				newrecipe.image = recipeimage.src;
				console.log(newrecipe.image);
				newrecipe.ingredients = ingredientlist;
				newrecipe.directions = directionlist;
				$.ajax({
 					type: "POST",
 				 	url: "/addrecipe",
 				 	data:newrecipe,
					}).done(function() {
 				 		setTimeout(location.href = "/",1000);
					});
			});*/

			//Updates running list of directions/ingredients for Add Recipe form
			function updateFormList(selector)
			{
				if($(selector + "-input").val() != "")
				{
					var text = $(selector + "-input").val();
					var li = "<li>" + text + "</li>";

					$(selector + "-list").append(li);
					return true;
				}
				else
				{
					return false;
				}
			}


		$("[id*='listadd']").on('click',function ()
		{
			$('#recipedetails').modal('hide');
			var addindex = $(this).attr('id');
			 addindex =addindex.substr(7,7);
			$.ajax({
 				 type: "POST",
 				 url: "/listadd?item=" + addindex,
				success: function(data) {
						$('html, body').animate({ scrollTop: 0 }, 0);
 				 		$("#msg").html(data);
 				 		$("#flashmessage").fadeOut(1000,function(){
 				 			location.href = "/";
 				 		});
					},
				});

		});

		$("[id*='listrm']").on('click',function ()
		{
			$('#grocerylist').modal('hide');
			var deleteindex = $(this).attr('id');
			deleteindex = deleteindex.substr(6,6);
			$.ajax({
 				 type: "POST",
 				 url: "/listrm?item=" + deleteindex,
				success: function(data) {
						$('html, body').animate({ scrollTop: 0 }, 0);
 				 		$("#msg").html(data);
 				 		$("#flashmessage").fadeOut(1000,function(){
 				 			location.href = "/";
 				 		});
					},
				});

		});

     	 $("[id*='tagbutton']").on('click', function()
     	 {
     	 	var tagid = $(this).attr('id');
     	 	tagid = tagid.replace("tagbutton-","");
     	 	console.log(user.data.tags);
     	 	console.log(user.data.recipes[tagid].tags);
     	 	for(var i = 0;i<user.data.tags.length;i++)
     	 	{
     	 		for(var k = 0;k<user.data.recipes[tagid].tags.length;k++)
     	 		{
     	 			if(user.data.tags[i] == user.data.recipes[tagid].tags[k])
     	 			{
     	 				console.log("iterate");
     	 				$("#tagmenu-" + tagid + " #tag-" + i).attr('checked', true);
     	 			}
				}
			}
		});

		$('.dropdown-menu').on('click', function(e) {
    		if($(this).hasClass('dropdown-menu-form')) {
     		   e.stopPropagation();
   			 }

		});

		$(".popover-help").popover({
			  trigger: 'focus'
		});

		$(".tab").click(function(){
			$(".tab").removeClass("active");
			$(this).addClass("active");
			var id = $(this).attr('id');
			if(id == 'recipe-scrape-tab'){
				$('#recipe-scrape').show();
				$('#recipe-search').hide();
			}
			else{
				$('#recipe-scrape').hide();
				$('#recipe-search').show();
			}

		});



		$('#recipe-search').submit(function(e){
			e.preventDefault();
			var searchkey = $('#keyword').val();
			$.ajax({
						type: "POST",
						data: {
								keyword: searchkey
						},
						url: "/search",
						success: function(data) {

								var searchresult = JSON.parse(data);
								$('#recipe-search-title').text("Search Results for: " + searchkey)
								console.log(searchresult.matches);
								$('#recipe-search-body').html(parseMatches(searchresult.matches));
								$('#recipe-search-body').append(searchresult.attribution.html);
								$('#recipesearch').modal('show');

					}
				})
		});

	function parseMatches(list)
	{
		var output = "";
		for(var i = 0;i<list.length;i++)
		{
				if(i % 5 == 0)
				{
					output += "<div class='row'>";
					output += "<div class='col-md-2 col-md-offset-1'>";
				}
				else
				{
					output += "<div class='col-md-2'>";
				}

				output +=	"<div class='thumbnail'>";
				if(typeof(list[i].imageUrlsBySize) != 'undefined'){
					output +=	"<img src='"+ list[i].imageUrlsBySize[90] + "'>";
				}
				output += "<div class='caption'><div class='search-name'>" + list[i].recipeName + "</div></div></div></div>";
				if((i+1) % 5 == 0)
				{
					output += "</div>";
				}
		}
		return output;
	}





	</script>
</html>
