
<% if(user == "empty") {%>
	<a href="/auth/google" class="btn btn-danger">Login with Google</a>
<% } else {%>
	 <a href="/logout" class="btn btn-default">Logout</a>

	<button class="btn btn-default" data-toggle="modal" data-target=".addrecipedialog">Add Recipe</button>
	 <% if(user.data.list.length > 0) {%>
	 	<button class="btn btn-primary btn-default" id="managegrocery" data-toggle="modal" data-target="#grocerylist">
				Manage Grocery List
		</button>
	<% } %>
<button type="button"
		class="btn btn-default btn-default popover-help"
		style="float:right;margin-right:5px;"
		data-toggle="popover" title="About"
		data-placement="left"
		data-html="true">
		About
</button>
<% } %>
