@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

/*===========================================================
HTML Tags
===========================================================*/
body{
background-color: #ECF0F1;
font-family: 'Lato', sans-serif;
color:#2C3E50;

}

h4{
	text-align:center;
}

/*===========================================================
Bootstrap Overrides
===========================================================*/
#headline{
	font-family: 'Pacifico', sans-serif;
	font-size:60px;
	color:#2C3E50
}

.navbar-default{
	background-color:#BDC3C7;
	border:0;
	-webkit-box-shadow: -1px 2px 2px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    -1px 2px 2px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         -1px 2px 2px 0px rgba(50, 50, 50, 0.3);
}

.btn
{
	border-radius:5px;
	margin-bottom: 5px;
}

.btn-default{
	background-color:#2C3E50 !important;
	border-color:#2C3E50 !important;
}

.btn-primary{
	background-color:#2980B9;
}

.btn-success{
	background-color:#27AE60 !important;
	border-color:#27AE60 !important;
}

.btn-danger{
	background-color: #E74C3C !important;
	border-color: #E74C3C !important;
}

#recipes .col-lg-3{
	width:auto !important;
	margin:0;
	padding:0;
}

#recipes .thumbnail{
	border:none;
	padding:0 !important;
	background:none !important;
	margin:0 !important;
}

#recipes .thumbnail>img
{
	width: auto;
	max-width: 100%;
	height: 240px;
}

.thumbnail h4{
	margin:0px 0px 10px 0px;
}

@media (max-width: 768px){

	.thumbnail{
	width:60%;
	margin: auto;
	margin-bottom: 10px;
	}

}

/*===========================================================
Form/Recipe Display
===========================================================*/
#msg{
	margin-top:10px;
	height:80px;
}

#scrape-form{
	display: block;
	margin: auto;
}

#loader{
	text-align:center;
}

.recipe-tab-container{
vertical-align: bottom;
font-size: 0;
margin-top: 10px;
z-index: 200;
margin:auto;
text-align: center;
}

.recipe-tab-container .tab{
	background-color:#95A5A6;
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	line-height: 100%;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	text-align: center;
	margin-right:5px;
	cursor:pointer;
}

.tab.active{
	font-weight:700;
	font-size:20px;
}

#flashmessage{
	padding-top:30px;
}

.hover-container{
	opacity:0;
	height:100%;
	bottom:0;
	width:100%;
	position: absolute;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.hover-container:hover{
	opacity:1;
}
.hover-info{
	cursor:pointer;
}
.hover{
	color:#ECF0F1;
	position:absolute;
	bottom:0;
	width:100%;
	background:rgba(0,0,0,.8);

}


.foodpic{
	opacity:1 !important;
}

#recipe-buttons{
	text-align:center;
}

#update-tag{
	margin-bottom:5px;
	text-align:center;
}

ul.dropdown-menu-form {
		color:#2C3E50;
    padding: 5px 10px 0;
    overflow-y: visible;
}

input[type="checkbox"] {
	display:none;
}


input[type="checkbox"] + span:before {
	font-family: 'FontAwesome';
	padding-right: 3px;
	font-size: 20px;
}

input[type="checkbox"] + span:before {
	content: "\f096"; /* check-empty */
}

input[type="checkbox"]:checked + span:before {
	content: "\f046"; /* check */
}

@media (min-width: 768px) and (max-width: 1200px){

#recipe-buttons .btn{
	padding: 3px 2px;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom:5px;
}

#recipes .thumbnail>img {
		height:120px;
}

.hover{
		height:100%;
}

.hover h4{
	font-size:15px;
}

}


/*===========================================================
Navigation Bar
===========================================================*/
nav > *{
	margin-top:5px;
	margin-left:5px;
}


#userinfo{
	margin-left:20px;
	margin-top:20px;
	color:#ECF0F1;
}

#bookmarklet
{
	float:right;
	margin-right:5px;
}

.tag:hover .delete-tag{
	opacity:1;
}

#tag-container{
	margin-top:30px;
}

.tag-item{
background-color: #ECF0F1;
float: left;
width:45%;
border: 1px solid #eee;
margin: auto 5px 5px auto;
padding: 2px 6px;
border-radius: 6px;
color: #2C3E50;
font-weight: normal;
font-size: 13px;
text-align:center;
cursor: pointer;
}

.tag-item:hover, .tag-item.active{
	color:#ECF0F1;
	background-image: linear-gradient(to top,#2a75c4,#3482d3);
}

.delete-tag{
	opacity:0;
	float: right;
	margin-top: 5px;
	cursor:pointer;
}

/*===========================================================
Grocery List Modal
===========================================================*/
.glist
{
	margin-bottom:10px;
}

/*===========================================================
Manually Add Recipe Modal
===========================================================*/

#addrecipe > *{
	margin-bottom:5px;
}

#addrecipe .modal-footer .btn+.btn{
	margin-bottom:5px !important;
}

.recipe-image-caption{
	overflow:hidden;
	white-space:nowrap;
}

.file-caption-name
{
	font-size:10px !important;
	max-width:0px;
	float:left;
}

.recipe-image-preview{
	text-align:center;
}
.recipe-image-input{
	max-width:558px;
}

#add-recipe-error{
	display:inline-block;
	margin-bottom: 0;
}

/*===========================================================
Recipe Details Modal
===========================================================*/
.modal-listadd, .modal-delete{
	float:left;
}

/*===========================================================
Recipe Search Modal
===========================================================*/

.thumbnail .caption .search-name{
text-align: center;
font-size: 12px;
}

#recipe-search-body .thumbnail{
	cursor:pointer;
}

#recipe-search-body .thumbnail.active{
	background:#ddd;
}
